*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!sysbase/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
webmaster/logs/*
!webmaster/logs/index.html
!webmaster/logs/.htaccess
webmaster/config/
/vendor/
/assets/documentations_pdf/*.pdf
/assets/docs/*.pdf
/assets/documents/*.pdf
/assets/ckeditor/*
/assets/captcha/*.pdf
/assets/rubriques/*.pdf
