*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!sysbase/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
webmaster/logs/*
!webmaster/logs/index.html
!webmaster/logs/.htaccess

/vendor/

!webmaster/config/
webmaster/config/*

!assets/documentations_pdf/
assets/documentations_pdf/*

!assets/docs/
assets/docs/*

/assets/documents/*.pdf

!/assets/ckeditor/
/assets/ckeditor/*

!/assets/captcha/
/assets/captcha/*

/assets/rubriques/*.pdf
/assets/rubriques/*.jpg
/assets/rubriques/*.png
/assets/rubriques/*.jpeg

/assets/espace_fon/*.jpg

